<?xml version="1.0"?>

<launch>
	<!-- 3d sensor + face_detection -->
	<include file="$(find facedetector)/launch/facedetector_kinect.launch">
        </include>
	
        <!-- node to launch a depth recongitions -->
        <node pkg="camera_detection" type="depth_analysis.py" name="obstacle_detection_analysis" output="screen"/>

</launch>

